[submodule "PHPMailer"]
	path = PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "libs/google"]
	path = libs/google
	url = https://github.com/google/google-api-php-client.git
[submodule "libs/browscap-php"]
	path = libs/browscap-php
	url = https://github.com/browscap/browscap-php.git
[submodule "libs/Slim"]
	path = libs/Slim
	url = https://github.com/slimphp/Slim.git
